table {
  border-collapse: collapse;
  background-color: Grey;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  text-align: center;
  width: auto;
}

td {
  background-color: white;
}
